<!--Footer-->
<footer id="landing-footer" class="clearfix">
    <div class="row clearfix">

        <p id="copyright" class="col-2"><strong>Panorama 360 is funded by the US Department of Energy under Grant
            #DE-SC0012636M</strong></p>
        <p id="copyright" class="col-2" style="line-height: 1.1em">Any opinions, findings, and conclusions or
            recommendations expressed in this material are those of the author(s) and do not necessarily reflect the
            views of the US Department of Energy.</p>

        <!--Social Icons in Footer-->
        <!--<ul class="col-2 social-icons">-->
        <!--<li>-->
        <!--<a target="_blank" title="Facebook" href="https://www.facebook.com/username">-->
        <!--<i class="fa fa-facebook fa-1x"></i><span>Facebook</span>-->
        <!--</a>-->
        <!--</li>-->
        <!--<li>-->
        <!--<a target="_blank" title="Google+" href="http://google.com/+username">-->
        <!--<i class="fa fa-google-plus fa-1x"></i><span>Google+</span>-->
        <!--</a>-->
        <!--</li>-->
        <!--<li>-->
        <!--<a target="_blank" title="Twitter" href="http://www.twitter.com/username">-->
        <!--<i class="fa fa-twitter fa-1x"></i><span>Twitter</span>-->
        <!--</a>-->
        <!--</li>-->
        <!--<li>-->
        <!--<a target="_blank" title="Instagram" href="http://www.instagram.com/username">-->
        <!--<i class="fa fa-instagram fa-1x"></i><span>Instagram</span>-->
        <!--</a>-->
        <!--</li>-->
        <!--<li>-->
        <!--<a target="_blank" title="behance" href="http://www.behance.net">-->
        <!--<i class="fa fa-behance fa-1x"></i><span>Behance</span>-->
        <!--</a>-->
        <!--</li>-->
        <!--</ul>-->
        <!--End of Social Icons in Footer-->
    </div>
</footer>
<!--End of Footer-->

</div>

<!-- Include JavaScript resources -->
<script src="assets/js/jquery.1.8.3.min.js"></script>
<script src="assets/js/wow.min.js"></script>
<script src="assets/js/featherlight.min.js"></script>
<script src="assets/js/featherlight.gallery.min.js"></script>
<script src="assets/js/jquery.enllax.min.js"></script>
<script src="assets/js/jquery.scrollUp.min.js"></script>
<script src="assets/js/jquery.easing.min.js"></script>
<script src="assets/js/jquery.stickyNavbar.min.js"></script>
<script src="assets/js/jquery.waypoints.min.js"></script>
<script src="assets/js/images-loaded.min.js"></script>
<script src="assets/js/lightbox.min.js"></script>
<script src="assets/js/site.js"></script>

<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-18066333-10', 'auto');
    ga('send', 'pageview');
</script>

</body>
</html>